body {
    font-family: "Comic Sans MS";
}

header {
    background-color: #fdc9d1;
    text-align: center;
    padding: 20px;
    text-decoration-color: navy;
}

footer {
    text-align: left;
    background-color: bisque;
}

aside {
    background-color: lightgrey;
    text-align: left;
}

div {
    display: block;
}

h1 {
    color: navy;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}