body {
    background-color: #03034c;
}

/*
The following class tag has been assigned to the title image in 2 html files
in order to assign specific properties to it that are different to general images used
*/

.title {
    margin: 2%;
    width: 96%;
    border: 10px ridge #b3e2f8;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

/*
Navigation buttons needed to be separated, highlighted from other elements on the pages so I assigned them a special
class button and have set certain properties to that class in order to highlight the buttons.
*/

.button {
    float: left;
    width: 46%;
    text-align: center;
    background-color: #9edbff;
    padding: 10px;
    box-sizing: border-box;
    margin: 2%;
    cursor: pointer;
    border: 10px ridge #b3e2f8;
    border-radius: 10px;
    font-family: Calibri, sans-serif;
}

 /*
 I wanted to give the buttons a special effect in order to differ them from other elements on the pages
 and therefore I assigned a hover effect using css property
 */

.button:hover {
    background-color: #a4b4bc;
}

/*
General properties have been assigned to div elements so they would look generically the same
*/

div {
    margin: 2%;
    float: left;
    width: 96%;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 10px ridge #b3e2f8;
    border-radius: 10px;
    font-family: "Times New Roman", sans-serif;
}

h1 {
    color: #1010c1;
}

/*
I wanted text in paragraphs to be aligned to the left of the container so I generalised it by aligning text to the
left for all <p> tags
*/

p {
    text-align: left;
}

.cast {
    margin-top: 25px;
    width: 65%;
    display: inline;
    float: left;
    text-align: left;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 10px ridge #b3e2f8;
    border-radius: 10px;
}

video {
    margin: 2%;
    width: 96%;
    border: 10px ridge #b3e2f8;
    box-sizing: border-box;
    border-radius: 10px;
}

footer {
    display: inline-flex;
    justify-content: center;
    margin: 2%;
    padding: 10px;
    width: 96%;
    border: 10px ridge #b3e2f8;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;

}

img {
    float: left;
    width: 25%;
    border: 10px ridge #b3e2f8;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 25px;
}

.about-cast {
    float: right;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 10px ridge #b3e2f8;
    border-radius: 10px;
    font-family: "Times New Roman", sans-serif;
}

.invis {
    width: 100%;
    display: inline;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.aud {
    margin-left: 2%;
    width: 96%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*
This was the only solution to the problem I have encountered when I had to change footer to fit one of the pages
I had to assign a class to a <p> element within footer in order to fix the text placement within the <footer>
*/

.footer {
    text-align: center;
}